# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
server/check-preferences.js
server/migrate-008.js
server/save-current-user-prefs.js
server/test-connection.js
server/migrate-vc-preferences.js
server/migrate-009.js
.gitignore
server/migrations/009_add_deck_comparisons.sql
